@inherits LayoutComponentBase;
@inject NavigationManager NavManager;
@using Microsoft.AspNetCore.Components.Routing;

<div class="navigation">
    <div class="container d-flex flex-center">
        <div class="app-name">
            App Name
        </div>
        <div class="navigation-list-container">
            <ul class="navigation-list">
                <li>
                    <NavLink href="/" Match="NavLinkMatch.All">
                        <span class="d-flex align-items-center">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="text">Home</span>
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/deploy">
                        <span class="d-flex align-items-center">
                            <ion-icon name="add-circle-outline"></ion-icon>
                        </span>
                        <span class="text">Deploy</span>
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/apps">
                        <span class="d-flex align-items-center">
                            <ion-icon name="apps-outline"></ion-icon>
                        </span>
                        <span class="text">Apps</span>
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/user">
                        <span class="d-flex align-items-center">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="text">Users</span>
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</div>

@code {

}