@page "/"
@inject HttpClient HttpClient;
@using GenzPlatformApp.Data.Model;
@using System.Text.Json;
@using GenZPlatformApp.Client.Components;
@inject Blazored.LocalStorage.ILocalStorageService localstorage


@*<button @onclick = "GetMyAppData" ></button>*@
<Profile></Profile>

@code {

    List<User> user = new List<User>();


    List<DeployedDetails> UserDeployedAppList = new List<DeployedDetails>();

    protected async Task GetMyAppData()
    {
        UserDeployedAppList = await HttpClient.GetFromJsonAsync<List<DeployedDetails>>($"Home/UserDeployedApps/{user}");

    }

    protected override async Task OnInitializedAsync()
    {
        if (await localstorage.GetItemAsync<string>("User") is null)
        {
            user.Add(new User() { UserId = 1 });
            
            await localstorage.SetItemAsync("User", JsonSerializer.Serialize(user));
        }

        

        user = JsonSerializer.Deserialize<List<User>>(await localstorage.GetItemAsync<string>("User"));

    }

}
