@page "/"
@inject HttpClient HttpClient;
@using GenzPlatformApp.Data.Model;
@using System.Text.Json;
@using GenZPlatformApp.Client.Components;
@*@inject Blazored.LocalStorage.ILocalStorageService localstorage*@

@*<button @onclick = "GetMyAppData" ></button>*@
<Profile></Profile>

@code {

    int User = 1;
    List<DeployedDetails> UserDeployedAppList = new List<DeployedDetails>();

    protected async Task GetMyAppData()
    {
        UserDeployedAppList = await HttpClient.GetFromJsonAsync<List<DeployedDetails>>($"Home/UserDeployedApps/{User}");
    }

    //if (await localstorage.GetItemAsync<string>("User") is null) 
    //    {

    //        await localstorage.SetItemAsync("User", JsonSerializer.Serialize(User));

    //}

}
