@page "/user"
@inject HttpClient HttpClient;
@using GenZPlatformApp.Client.Components
@using GenzPlatformApp.Data.Model

<div class="container">
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary">Add User</button>
    </div>
    <div class="users-table">
        <div class="border-1 headers">
            <div>
                Image
            </div>
            <div>
                Name
            </div>
            <div>
                Designation
            </div>
            <div>
                &nbsp;
            </div>
        </div>
        @{
            
            
            foreach (var item in UserCollection)
            {
                <CascadingValue Value="this">
                    <UserCard UserName=@item.FirstName Id=@item.UserId.ToString() ></UserCard>
                </CascadingValue>

            }

        }
        
    </div>
</div>

@code {

    List<User> UserCollection = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        UserCollection = await HttpClient.GetFromJsonAsync<List<User>>($"Home/Users");
    }
    public void RefreshState()
    {
        this.StateHasChanged();
    }


    //public async void AddUser()
    //{
    //    await HttpClient.PostAsJsonAsync<User>("Home/AddUser" , user);
    
    //}

}
