@page "/user"
@using GenZPlatformApp.Client.Components

<div class="container">
    <div class="users-table">
        <div class="border-1 headers">
            <div>
                Image
            </div>
            <div>
                Name
            </div>
            <div>
                Designation
            </div>
            <div>
                &nbsp;
            </div>
        </div>
        <UserCard></UserCard>
        <UserCard></UserCard>
        <UserCard></UserCard>
        <UserCard></UserCard>
        <UserCard></UserCard>
        <UserCard></UserCard>
        <UserCard></UserCard>
        <UserCard></UserCard>

    </div>
</div>

@code {

}
