@using GenzPlatformApp.Data.Model
@inject HttpClient HttpClient;

<div class="apps-class my-3">
    <div class="container">
        <h3 class="py-3">Apps</h3>
        <div class="d-grid grid-container">
            @{
                foreach (var item in AppsCollection)
                {
                    <DeployedAppCard AppName=@item.ContainerName url=@item.URL appsclassborder="appsborder"></DeployedAppCard>
                }
             }
        </div>
    </div>
</div>

@code {
    
    List<DeployedDetails> AppsCollection = new List<DeployedDetails>();

    protected override async Task OnInitializedAsync()
    {
        AppsCollection = await HttpClient.GetFromJsonAsync<List<DeployedDetails>>("Deploy/DeployedApps");
    }

}