<div class="apps-class my-3">
    <div class="container">
        <h3 class="py-3">Apps</h3>
        <div class="d-grid grid-container">
            <DeployedAppCard appsclassborder="appsborder"></DeployedAppCard>
            <DeployedAppCard appsclassborder="appsborder"></DeployedAppCard>
            <DeployedAppCard appsclassborder="appsborder"></DeployedAppCard>
            <DeployedAppCard appsclassborder="appsborder"></DeployedAppCard>
            <DeployedAppCard appsclassborder="appsborder"></DeployedAppCard>
            <DeployedAppCard appsclassborder="appsborder"></DeployedAppCard>
        </div>
    </div>
</div>

@code {

}