@using GenzPlatformApp.Data.Model
@using System.Text.Json
@inject HttpClient HttpClient;
@inject Blazored.LocalStorage.ILocalStorageService localstorage



<div class="deployment-class my-5">
    <div class="container">
        <h3 class="py-3">Latest Deployements</h3>
        <div class="d-grid grid-container">
            @{
                foreach (var item in UserDeployedAppList)
                {
                    <DeployedAppCard AppName=@item.ContainerName url=@item.URL ></DeployedAppCard>
                }
             }
        </div>
    </div>
</div>

@code {
    List<User> user = new List<User>();

    List<DeployedDetails> UserDeployedAppList = new List<DeployedDetails>();

    protected override async Task OnInitializedAsync()
    {
        if (await localstorage.GetItemAsync<string>("User") is null)
        {
            user.Add(new User() { UserId = 1 });

            await localstorage.SetItemAsync("User", JsonSerializer.Serialize(user));
        }

        user = JsonSerializer.Deserialize<List<User>>(await localstorage.GetItemAsync<string>("User"));

        UserDeployedAppList = await HttpClient.GetFromJsonAsync<List<DeployedDetails>>($"Home/UserDeployedApps/{user[0].UserId}");
    }


}