<div class="apps-class my-5">
    <div class="container">
        <h3 class="py-3">Latest Deployements</h3>
        <div class="d-grid grid-container">
            <DeployedAppCard></DeployedAppCard>
            <DeployedAppCard></DeployedAppCard>
            <DeployedAppCard></DeployedAppCard>
            <DeployedAppCard></DeployedAppCard>
            <DeployedAppCard></DeployedAppCard>
            <DeployedAppCard></DeployedAppCard>
        </div>
    </div>
</div>

@code {

}