@using GenzPlatformApp.Data.Model
@inject NavigationManager NavManager;
@inject HttpClient HttpClient;


<div class="profile card container">
    <div class="d-flex border-1 w-50 margin-right-2">
        <div class="profile-image-container">
            <div class="profile-image">

            </div>
        </div>
        <div class="details-container w-100">
            <div class="details">
                <div class="user-name d-flex">
                    <div>
                        @UserDetail.FirstName
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div class="available">
                        Active
                    </div>
                </div>
                <div class="details-element">
                    Associate - 2
                </div>
                <div class="details-element">
                    GMAS INDIA
                </div>
                <div class="details-element">
                    Email id : shahrukh@home.com
                </div>
                <div class="details-element">
                    Number of apps deployed : @UserDeployedAppList.Count
                </div>
            </div>
        </div>
    </div>
    <div class="deploy-container border-1">
        <div class="deploy-card">
            <div class="deploy-description font-size-2 font-weight-bold">
                Struggling to deploy your applications?
            </div>
            <div>
                Deployment made easy!!
                <div class="font-weight-300 font-style-italic">Just a click away</div>
            </div>

        </div>
        <div class="deploy-card">
            <div>
                &nbsp;
            </div>
            <div class="">
                <button @onclick=@(() =>  NavManager.NavigateTo("/deploy") ) class="btn-primary deploy-button-white btn" >
                    Deploy
                </button>
            </div>
        </div>
    </div>
</div>
<Deployments></Deployments>
@code {
    int userid = 1;

    User UserDetail = new User();
    List<DeployedDetails> UserDeployedAppList = new List<DeployedDetails>();

    protected override async Task OnInitializedAsync()
    {
        UserDeployedAppList = await HttpClient.GetFromJsonAsync<List<DeployedDetails>>($"Home/UserDeployedApps/{userid}");
        UserDetail = await HttpClient.GetFromJsonAsync<User>($"Home/Users/{userid}");
    }

}
