<div class="user headers">
    <div class="user-image">
        <img src="/Images/profile.jpg" class="user-image"/>
    </div>
    <div class="name">
        Shah Rukh Khan
    </div>
    <div class="user-designation">
        Associate-2
    </div>
    <div class="user-select-button">
        <button class="btn-success btn">Select</button>
    </div>
 </div>

@code{

}