@inherits LayoutComponentBase
@using GenZPlatformApp.UIComponents.NavMenu;

<div >
    <main>
        <div >
            <NavMenu />
        </div>

        <article class="content px-4" >
            @Body
        </article>

        <footer>

        </footer>

    </main>
</div>
