@inherits LayoutComponentBase
@using GenZPlatformApp.UIComponents.NavMenu;

<div >
    <main>
        <div >
            <NavMenu />
        </div>

        <div class="content" >
            @Body
        </div>

        <footer>

        </footer>

    </main>
</div>
